[Desktop Entry]
Type=Action
Name=Edit in disposable qube
Icon=document-open
Profiles=on_item;

[X-Action-Profile on_item]
MimeTypes=*;
Exec=/usr/lib/qubes/qvm-actions.sh opendvm %F
