[Unit]
# Do not start this service for users not in the Qubes group,
# as it won't work.
ConditionGroup=qubes
ConditionPathExists=/var/run/qubes-service/open-urls-in-dispvm

[Service]
ExecStart=xdg-mime default qvm-open-in-dvm.desktop x-scheme-handler/http x-scheme-handler/https

[Install]
WantedBy=multi-user.target
