[Unit]
Description=Qubes desktop notification forwarder

[Service]
Type=dbus
ExecStart=/usr/lib/qubes/notification-forwarder.py
BusName=org.freedesktop.Notifications

[Install]
WantedBy=basic.target
