.include /lib/systemd/system/crond.service
[Unit]
ConditionPathExists=/var/run/qubes-service/crond
# For /rw
After=qubes-misc-post.service

[Service]
ExecStartPre=/bin/mkdir --mode=0700 -p /rw/cron
ExecStartPre=/bin/mount --bind /rw/cron /var/spool/cron
ExecStopPost=/bin/umount /var/spool/cron
