[Unit]
ConditionPathExists=!/var/run/qubes/disable_persistent_home_dir

[Mount]
What=/rw/home
Where=/home
Type=none
Options=noauto,bind,defaults,nosuid,nodev
