[Unit]
Description=Qubes remote exec agent
After=xendriverdomain.service

[Service]
ExecStartPre=/bin/sh -c '[ -e /dev/xen/evtchn ] || modprobe xen_evtchn'
ExecStart=/usr/lib/qubes/qrexec-agent

[Install]
WantedBy=multi-user.target
Alias=qubes-core-agent.service
