[Unit]
Description=Mount configured bind files and directories
After=qubes-mount-dirs.service local-fs.target rw.mount home.mount usr-local.mount
Before=qubes-gui-agent.service
DefaultDependencies=no
Requires=qubes-mount-dirs.service home.mount usr-local.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/bind-dirs.sh

[Install]
WantedBy=multi-user.target
