[Unit]
Description=Relabel /
After=qubes-sysinit.service
Requires=qubes-sysinit.service
ConditionSecurity=selinux
ConditionPathExists=!/.qubes-relabeled
ConditionPathExists=/run/qubes/persistent-full
DefaultDependencies=no
Conflicts=shutdown.target
Before=qubes-bind-dirs.service local-fs.target rw.mount home.mount qubes-gui-agent.service qubes-qrexec-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
BindPaths=/:/mnt:norbind
ExecStart=/usr/lib/qubes/init/relabel-root.sh

[Install]
WantedBy=multi-user.target selinux-autorelabel.target
