[Unit]
Description=Qubes check for VM updates and notify dom0
ConditionPathExists=/var/run/qubes-service/qubes-update-check
After=qubes-qrexec-agent.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'if [ -e /etc/debian_version ]; then apt-get -q update; fi'
ExecStart=/usr/lib/qubes/upgrades-status-notify
