[Unit]
Description=Cleanup QubesIncoming directories on shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/qubes/init/qubesincoming-clean.sh
RemainAfterExit=true

[Install]
WantedBy=shutdown.target
