[Unit]
Description=Qubes network monitor
ConditionPathExists=/var/run/qubes-service/qubes-netwatcher
After=network-pre.target qubes-firewall.service

[Service]
ExecStart=/usr/sbin/qubes-netwatcher
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
