[Unit]
Description=Qubes firewall updater
ConditionPathExists=/var/run/qubes-service/qubes-firewall
After=qubes-iptables.service
Before=qubes-network.service

[Service]
Type=notify
ExecStart=/usr/bin/qubes-firewall

[Install]
WantedBy=multi-user.target
