[Unit]
Description=Relabel /rw and /home
After=qubes-mount-dirs.service qubes-sysinit.service qubes-relabel-root.service
Requires=qubes-mount-dirs.service qubes-sysinit.service qubes-relabel-root.service
ConditionSecurity=selinux
DefaultDependencies=no
Conflicts=selinux-autorelabel.service
Before=local-fs.target rw.mount home.mount qubes-gui-agent.service qubes-qrexec-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/relabel-rw.sh

[Install]
WantedBy=multi-user.target
