[Unit]
Description=Initialize and mount /rw and /home
After=qubes-sysinit.service
DefaultDependencies=no
Before=local-fs.target qubes-gui-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/mount-dirs.sh
# Fedora and Debian have different paths for fuser
ExecStop=/bin/sh -c 'fuser -kMm /home' ; /bin/umount /home
ExecStopPost=-/bin/umount /rw

[Install]
WantedBy=multi-user.target
