[Unit]
Description=Update time from ClockVM
After=qubes-qrexec-agent.service
ConditionPathExists=!/var/run/qubes-service/clocksync

[Service]
ExecStart=/usr/bin/qvm-sync-clock
User=root
