[Unit]
Description=Initialize and mount /rw and /home
# There is a dependency on dev-xvdb.device because
# mount-dirs.sh calls setup-rwdev.sh which
# must happen only when /dev/xvdb has appeared.
After=qubes-sysinit.service dev-xvdb.device
DefaultDependencies=no
Before=local-fs.target rw.mount home.mount qubes-gui-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/mount-dirs.sh
# There is no need for an ExecStop because systemd
# cleans up mount units in the right order, killing
# processes as needed.

[Install]
WantedBy=multi-user.target
