[Unit]
Description=Qubes base firewall settings
Requires=qubes-antispoof.service
After=qubes-antispoof.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/qubes-iptables start

[Install]
WantedBy=basic.target
