[Unit]
Description=Qubes anti-spoofing firewall rules
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/qubes/qubes-antispoof.nft

[Install]
RequiredBy=network-pre.target
