[Unit]
Description=Qubes base firewall settings
Requires=qubes-antispoof.service
After=qubes-antispoof.service
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/qubes-iptables start

[Install]
RequiredBy=network-pre.target
