[Unit]
Description=Qubes updates proxy (tinyproxy)
ConditionPathExists=|/var/run/qubes-service/qubes-updates-proxy
After=qubes-iptables.service

[Service]
ExecStart=/usr/bin/tinyproxy -d -c /etc/tinyproxy/tinyproxy-updates.conf
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
