[Unit]
Description=Qubes misc post-boot actions
After=network-pre.target qubes-dvm.service qubes-mount-dirs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/misc-post.sh
ExecStop=/usr/lib/qubes/init/misc-post-stop.sh

[Install]
WantedBy=multi-user.target
