[Unit]
Description=Qubes firewall updater
ConditionPathExists=/var/run/qubes-service/qubes-firewall
After=qubes-network.service

[Service]
ExecStart=/usr/sbin/qubes-firewall

[Install]
WantedBy=multi-user.target
