[Unit]
Description=Init Qubes Services settings
DefaultDependencies=no
Before=sysinit.target
After=proc-xen.mount systemd-modules-load.service qubes-db.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/qubes-sysinit.sh

[Install]
WantedBy=sysinit.target
