[Unit]
Description=Apply minimal sys-net kernel variables
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-modules-load.service qubes-sysinit.service
Before=sysinit.target shutdown.target
ConditionPathIsReadWrite=/proc/sys/net/
ConditionPathExists=/var/run/qubes-service/minimal-netvm

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-sysctl /etc/sysctl.d/82-qubes-minimal-sys-net.conf.optional
TimeoutSec=90s
ImportCredential=sysctl.*

[Install]
WantedBy=sysinit.target
