[Unit]
Description=Remount /lib/modules for SELinux
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
Before=qubes-bind-dirs.service rw.mount home.mount qubes-gui-agent.service qubes-qrexec-agent.service
# This runs *very* early in boot, before even local file systems or udev
Before=systemd-modules-load.service local-fs-pre.target systemd-udevd.service
ConditionPathExists=/dev/xvdd
ConditionKernelVersion=*qubes*
ConditionSecurity=selinux

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/qubes-remount-lib-modules.sh

[Install]
WantedBy=default.target
