[Unit]
Description=Xen driver domain device daemon
ConditionVirtualization=xen

[Service]
Type=forking
ExecStart=/usr/sbin/xl devd
SELinuxContext=system_u:system_r:xend_t:s0-s0:c0.c1023

[Install]
WantedBy=multi-user.target
