Source: qubes-core-agent
Section: admin
Priority: extra
Maintainer: Davíð Steinn Geirsson <david@dsg.is>
Build-Depends: qubes-utils (>= 2.0.17), libvchan-xen-dev, python, debhelper, quilt, libxen-dev, dh-systemd (>= 1.5), lsb-release
Standards-Version: 3.9.3
Homepage: http://www.qubes-os.org
Vcs-Git: git://git.qubes-os.org/marmarek/core-agent-linux.git

Package: qubes-core-agent
Architecture: any
Depends:
    dmsetup,
    ethtool,
    fakeroot,
    imagemagick,
    init-system-helpers,
    initscripts,
    iptables,
    iptables-persistent,
    libvchan-xen,
    locales,
    ncurses-term,
    net-tools,
    psmisc,
    python2.7,
    python-gi,
    qubes-utils (>= 2.0.17),
    sudo,
    systemd,
    x11-xserver-utils,
    xdg-user-dirs,
    xen-utils-common,
    xenstore-utils,
    xinit,
    xserver-xorg-core,
    xserver-xorg-video-dummy,
    ${shlibs:Depends},
    ${misc:Depends}
Recommends:
    gnome-packagekit,
    gnome-terminal,
    gnome-themes-standard,
    haveged,
    libnotify-bin,
    network-manager (>= 0.8.1-1),
    network-manager-gnome,
    notify-osd,
    ntpdate,
    python-nautilus,
    tinyproxy,
    xsettingsd,
    yum,
    yum-utils
Conflicts: qubes-core-agent-linux, firewalld, qubes-core-vm-sysvinit
Description: Qubes core agent
 This package includes various daemons necessary for qubes domU support,
 such as qrexec.

# Unresolved depends that exist in rpm_spec
#qubes-core-vm-kernel-placeholder, qubes-core-vm,
