policy_module(``qubes-xendriverdomain'', ``0.0.1'')

require {
	type NetworkManager_t, initrc_t, virsh_exec_t, xend_t;
	class dbus send_msg;
	class file { entrypoint exec_file_perms };
}

allow xend_t virsh_exec_t:file { entrypoint exec_file_perms };
iptables_domtrans(xend_t)
dbus_system_bus_client(xend_t)
init_domtrans_script(xend_t)
allow xend_t NetworkManager_t:dbus send_msg;
